:root{
	--fucsia: #fe6196;
	--rojo: #ff0d0f;
	--Back: #151b31;
	--input: #f2f2f2;
	--caption: #bbbbbb;
	--title: #656c72;
	--iconos: #3f4754;
	--texto: #5e5d62;
	--fuente: 'Lato', sans-serif;
	--gradiente: linear-gradient(to right, var(--rojo), var(--fucsia));
}
@custom-media --mobile (max-width: 500px);
@custom-media --tablet (max-width: 1024px);
body{
	display: flex;
	font-family: var(--fuente);
	overflow-x: hidden;
	@media (--tablet){
		flex-direction: column;
	}
}
.PlatziLista{
	width: 20%;
	background: var(--Back);
	padding: 1em 1em;
	position: relative;
	transition: .3s;
	z-index: 2;
	@media (--tablet){
		padding: 0 1em;
		width: 100%;
		overflow: hidden;
		height: 80px;
	}
	&.active{
		height: 100%;
	}
	&-nombre{
		color: white;
		font-size: 2.5rem;
		padding: 0;
		span{
			background: var(--gradiente);
			-webkit-background-clip: text;
			color: transparent;
			font-weight: 700;
		}
	}
	&-boton{
		display: none;
		color: white;
		font-size: 2rem;
		background: none;
		border: none;
		@media (--tablet){
			display: block;
			position: absolute;
			top: 1em;
			right: 1.5em;
		}
	}
	&-lista{
		color: white;
		font-weight: normal;
		font-size: 1.3rem;
	}
	&-playlist{
		padding: 0 0 0 1em;
		margin-bottom: 2em;
		&-item{
			color: white;
			padding-left: 1.5em;
			margin-bottom: 1em;
			a{
				color: white;
				text-decoration: none;
				font-weight: lighter;
				text-transform: capitalize;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
	&-amigos{
		&-item{
			display: flex;
			margin-bottom: 1em;
			&-imagen{
				margin: 0;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				overflow: hidden;
				&-img{
					width: 100%;
					vertical-align: top;
				}
			}
			&-nombre{
				color: white;
				align-self: center;
				margin-left: 1em;
			}
		}
	}
}
.PlatziVideos{
	width: 100%;
	padding: 0 1em;
	margin-bottom: 10em;
	&-navbar{
		display: flex;
		justify-content: space-between;
		padding: 3em 4em 1em 0;
		@media (--tablet){
			display: none;
		}
		&-form{
			width: 40%;
			&-grupo{
				background: var(--input);
				width: 85%;
				border-radius: .25rem;
				overflow: hidden;
			}
			&-input{
				border: none;
				background: var(--input);
				padding: .5em 1em;
				width: 85%;
			}
			i{
				color: var(--iconos);
				padding: .6em;
			}
		}
		&-usuario{
			display: flex;
			text-decoration: none;
			i{
				align-self: center;
				color: var(--iconos);
				font-size: 1.5rem;
			}
			&-imagen{
				width: 50px;
				height: 50px;
				border-radius: 50%;
				overflow: hidden;
				margin: 0 1em 0 1em;
				&-img{
					width: 100%;
				}
			}
			&-nombre{
				font-size: 1.2rem;
				align-self: center;
				color: var(--title);
			}
		}
	}
	&-categorias{
		&-item{
			&-caption{
				color: var(--caption);
				font-size: 1rem;
				font-weight: normal;
			}
			&-categoria{
				color: var(--title);
				margin-top: 0;
			}
			&-videos{
				display: grid;
				grid-template-columns: repeat(4,1fr);
				grid-gap: 10px;
				@media (--tablet){
					grid-template-columns: repeat(2,1fr);
				}
				@media (--mobile){
					grid-template-columns: repeat(1,1fr);
				}
				&-item{
					text-decoration: none;
					&-img{
						width: 100%;
						vertical-align: top;
						box-shadow: 5px 5px 15px 0px #d8d8d8;
						border-radius: 2px;
					}
					&-nombre{
						margin: .5em 0;
						color: var(--texto);
					}
				}
			}
		}
	}
}
.PlatziFooter{
	position: fixed;
	bottom: 0;
	right: 0;
	left: 17%;
	background: var(--gradiente);
	padding: 1em 5em;
	display: flex;
	height: 15%;
	z-index: 1;
	@media(--mobile){
		padding: 1em 2em;
	}
	@media (--tablet){
		left: 0;
		height: 10%;
	}
	&-video{
		height: auto;
		width: 20%;
		position: relative;
		@media(--mobile){
			width: 90%;
		}
		&-img{
			width: 100%;
			vertical-align: top;
		}
		&-icono{
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			background: color(black a(20%));
			color: white;
			i{
				border: 5px solid white;
				padding: 1em;
				border-radius: 50%;
			}
		}
	}
	&-descipcion{
		margin-left: 2em;
		color: white;
		&-caption, &-title{
			font-weight: 400;
			@media(--mobile){
				font-size: 1rem;
			}
		}
	}
}