:root{
	--fucsia: #fe6196;
	--rojo: #ff0d0f;
	--Back: #151b31;
	--input: #f2f2f2;
	--caption: #bbbbbb;
	--title: #656c72;
	--iconos: #3f4754;
	--texto: #5e5d62;
	--fuente: 'Lato', sans-serif;
	--gradiente: linear-gradient(to right, var(--rojo), var(--fucsia));
}
body{
	display: flex;
	font-family: var(--fuente);
}
.PlatziLista{
	max-width: 20%;
	background: var(--Back);
	padding: 1em 1em;
	&-nombre{
		color: white;
		font-size: 2.5rem;
		padding: 0;
		span{
			background: var(--gradiente);
			-webkit-background-clip: text;
			color: transparent;
			font-weight: 700;
		}
	}
	&-lista{
		color: white;
		font-weight: normal;
		font-size: 1.3rem;
	}
	&-playlist{
		padding: 0 0 0 1em;
		margin-bottom: 2em;
		&-item{
			color: white;
			padding-left: 1.5em;
			margin-bottom: 1em;
			a{
				color: white;
				text-decoration: none;
				font-weight: lighter;
				text-transform: capitalize;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
	&-amigos{
		&-item{
			display: flex;
			margin-bottom: 1em;
			&-imagen{
				margin: 0;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				overflow: hidden;
				&-img{
					width: 100%;
					vertical-align: top;
				}
			}
			&-nombre{
				color: white;
				align-self: center;
				margin-left: 1em;
			}
		}
	}
}