<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title PlatziVideo
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
	link(rel="stylesheet", href="css/fontawesome-all.min.css")
	link(rel="stylesheet", href="css/normalize.css")
	link(rel="stylesheet", href="css/estilos.css")
body
	section.PlatziLista
		h1.PlatziLista-nombre!= "Platzi<span>Video</span>"
		h2.PlatziLista-lista Mi Playlist
		ol.PlatziLista-playlist
			li.PlatziLista-playlist-item
				a(href="#") 5 Reasons To chose a notebook over a computer desktop
			li.PlatziLista-playlist-item
				a(href="#") Get around easily with a new yourk limousine servie
			li.PlatziLista-playlist-item
				a(href="#") how to cook a tender juicy steak
			li.PlatziLista-playlist-item
				a(href="#") how to remove kindney stones
			li.PlatziLista-playlist-item
				a(href="#") the science of superstitions
			li.PlatziLista-playlist-item
				a(href="#") 5 Reasons To chose a notebook over a computer desktop
			li.PlatziLista-playlist-item
				a(href="#") Get around easily with a new yourk limousine servie
			li.PlatziLista-playlist-item
				a(href="#") how to cook a tender juicy steak
			li.PlatziLista-playlist-item
				a(href="#") how to remove kindney stones
			li.PlatziLista-playlist-item
				a(href="#") the science of superstitions
		h2.PlatziLista-lista Playlists de Amigos
		.PlatziLista-amigos
			.PlatziLista-amigos-item
				figure.PlatziLista-amigos-item-imagen
					img.PlatziLista-amigos-item-imagen-img(src="img/amigo1.jpg", alt="amigo1")
				span.PlatziLista-amigos-item-nombre Gordon Carroll
			.PlatziLista-amigos-item
				figure.PlatziLista-amigos-item-imagen
					img.PlatziLista-amigos-item-imagen-img(src="img/amigo2.jpg", alt="amigo2")
				span.PlatziLista-amigos-item-nombre Adeline Wikins
			.PlatziLista-amigos-item
				figure.PlatziLista-amigos-item-imagen
					img.PlatziLista-amigos-item-imagen-img(src="img/amigo3.jpg", alt="amigo3")
				span.PlatziLista-amigos-item-nombre John wheeler
			.PlatziLista-amigos-item
				figure.PlatziLista-amigos-item-imagen
					img.PlatziLista-amigos-item-imagen-img(src="img/amigo4.jpg", alt="amigo4")
				span.PlatziLista-amigos-item-nombre Katerine Katherine Nelson