<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title PlatziVideo
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
	link(rel="stylesheet", href="css/fontawesome-all.min.css")
	link(rel="stylesheet", href="css/normalize.css")
	link(rel="stylesheet", href="css/estilos.css")
body
	section.PlatziLista#menu
		h1.PlatziLista-nombre!= "Platzi<span>Video</span>"
		button.fa.fa-bars.PlatziLista-boton#boton
		h2.PlatziLista-lista Mi Playlist
		ol.PlatziLista-playlist
			li.PlatziLista-playlist-item
				a(href="#") 5 Reasons To chose a notebook over a computer desktop
			li.PlatziLista-playlist-item
				a(href="#") Get around easily with a new yourk limousine servie
			li.PlatziLista-playlist-item
				a(href="#") how to cook a tender juicy steak
			li.PlatziLista-playlist-item
				a(href="#") how to remove kindney stones
			li.PlatziLista-playlist-item
				a(href="#") the science of superstitions
			li.PlatziLista-playlist-item
				a(href="#") 5 Reasons To chose a notebook over a computer desktop
			li.PlatziLista-playlist-item
				a(href="#") Get around easily with a new yourk limousine servie
			li.PlatziLista-playlist-item
				a(href="#") how to cook a tender juicy steak
			li.PlatziLista-playlist-item
				a(href="#") how to remove kindney stones
			li.PlatziLista-playlist-item
				a(href="#") the science of superstitions
		h2.PlatziLista-lista Playlists de Amigos
		.PlatziLista-amigos
			.PlatziLista-amigos-item
				figure.PlatziLista-amigos-item-imagen
					img.PlatziLista-amigos-item-imagen-img(src="img/amigo1.jpg", alt="amigo1")
				span.PlatziLista-amigos-item-nombre Gordon Carroll
			.PlatziLista-amigos-item
				figure.PlatziLista-amigos-item-imagen
					img.PlatziLista-amigos-item-imagen-img(src="img/amigo2.jpg", alt="amigo2")
				span.PlatziLista-amigos-item-nombre Adeline Wikins
			.PlatziLista-amigos-item
				figure.PlatziLista-amigos-item-imagen
					img.PlatziLista-amigos-item-imagen-img(src="img/amigo3.jpg", alt="amigo3")
				span.PlatziLista-amigos-item-nombre John wheeler
			.PlatziLista-amigos-item
				figure.PlatziLista-amigos-item-imagen
					img.PlatziLista-amigos-item-imagen-img(src="img/amigo4.jpg", alt="amigo4")
				span.PlatziLista-amigos-item-nombre Katerine Katherine Nelson
	section.PlatziVideos
		navbar.PlatziVideos-navbar
			form.PlatziVideos-navbar-form
				.PlatziVideos-navbar-form-grupo
					input(type="search", name="", placeholder="Buscar a un artista, tema o amigo").PlatziVideos-navbar-form-input
					i.fa.fa-search
			a.PlatziVideos-navbar-usuario(href="#")
				i.fa.fa-angle-down
				figure.PlatziVideos-navbar-usuario-imagen
					img.PlatziVideos-navbar-usuario-imagen-img(src="img/amigo1.jpg", alt="usuario")
				span.PlatziVideos-navbar-usuario-nombre Harvey Ruiz
		.PlatziVideos-categorias
			.PlatziVideos-categorias-item
				h3.PlatziVideos-categorias-item-caption Lo mejor de la semana
				h2.PlatziVideos-categorias-item-categoria Destacados
				.PlatziVideos-categorias-item-videos
					a.PlatziVideos-categorias-item-videos-item(href="#")
						img.PlatziVideos-categorias-item-videos-item-img(src="img/video1.jpg", alt="video")
						p.PlatziVideos-categorias-item-videos-item-nombre Get the boot a birds eye look into mcse boot camps
					a.PlatziVideos-categorias-item-videos-item(href="#")
						img.PlatziVideos-categorias-item-videos-item-img(src="img/video2.jpg", alt="video")
						p.PlatziVideos-categorias-item-videos-item-nombre Gourmet cooking for pleasure
					a.PlatziVideos-categorias-item-videos-item(href="#")
						img.PlatziVideos-categorias-item-videos-item-img(src="img/video3.jpg", alt="video")
						p.PlatziVideos-categorias-item-videos-item-nombre Cooking recipes anytime and anywhere
					a.PlatziVideos-categorias-item-videos-item(href="#")
						img.PlatziVideos-categorias-item-videos-item-img(src="img/video4.jpg", alt="video")
						p.PlatziVideos-categorias-item-videos-item-nombre whick and easy lunches for the cooking challenged
			.PlatziVideos-categorias-item
				h3.PlatziVideos-categorias-item-caption Lo mejor para concentrarte
				h2.PlatziVideos-categorias-item-categoria Para prograamr
				.PlatziVideos-categorias-item-videos
					a.PlatziVideos-categorias-item-videos-item(href="#")
						img.PlatziVideos-categorias-item-videos-item-img(src="img/video1.jpg", alt="video")
						p.PlatziVideos-categorias-item-videos-item-nombre Ordering contact lens online
					a.PlatziVideos-categorias-item-videos-item(href="#")
						img.PlatziVideos-categorias-item-videos-item-img(src="img/video2.jpg", alt="video")
						p.PlatziVideos-categorias-item-videos-item-nombre cosmetic surgery restores normal structures of the body
					a.PlatziVideos-categorias-item-videos-item(href="#")
						img.PlatziVideos-categorias-item-videos-item-img(src="img/video3.jpg", alt="video")
						p.PlatziVideos-categorias-item-videos-item-nombre does hydroderm work
					a.PlatziVideos-categorias-item-videos-item(href="#")
						img.PlatziVideos-categorias-item-videos-item-img(src="img/video4.jpg", alt="video")
						p.PlatziVideos-categorias-item-videos-item-nombre swallow to glow a holistic approach to skin heath
			.PlatziVideos-categorias-item
				h3.PlatziVideos-categorias-item-caption Si no te queda de otra
				h2.PlatziVideos-categorias-item-categoria Regueton
				.PlatziVideos-categorias-item-videos
					a.PlatziVideos-categorias-item-videos-item(href="#")
						img.PlatziVideos-categorias-item-videos-item-img(src="img/video1.jpg", alt="")
						p.PlatziVideos-categorias-item-videos-item-nombre  Lorem ipsum dolor sit amet.
					a.PlatziVideos-categorias-item-videos-item(href="#")
						img.PlatziVideos-categorias-item-videos-item-img(src="img/video2.jpg", alt="video")
						p.PlatziVideos-categorias-item-videos-item-nombre  Lorem ipsum dolor sit amet.
					a.PlatziVideos-categorias-item-videos-item(href="#")
						img.PlatziVideos-categorias-item-videos-item-img(src="img/video3.jpg", alt="video")
						p.PlatziVideos-categorias-item-videos-item-nombre  Lorem ipsum dolor sit amet.
					a.PlatziVideos-categorias-item-videos-item(href="#")
						img.PlatziVideos-categorias-item-videos-item-img(src="img/video4.jpg", alt="video")
						p.PlatziVideos-categorias-item-videos-item-nombre  Lorem ipsum dolor sit amet.
		footer.PlatziFooter
			.PlatziFooter-video
				img.PlatziFooter-video-img(src="img/video1.jpg", alt="viendo")
				.PlatziFooter-video-icono
					i.fa.fa-play
			.PlatziFooter-descipcion
				h3.PlatziFooter-descipcion-caption Continua Viendo
				h2.PlatziFooter-descipcion-title New Order - Bizarre Love Triangle

	script(src="js/index.js")